<a href="https://colab.research.google.com/github/petersonrs/repo/blob/master/analise_bolsa_com_yahoo_finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Buscando dados históricos de ações com Pandas
Ref. https://www.learndatasci.com/tutorials/python-finance-part-yahoo-finance-api-pandas-matplotlib/

In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#vamos buscar os dados de BBSE3, sim, eu tenho bbse3
#no link acima, ao tentar seguir a forma utilizada, um erro é apresentado, então 
#mudei a origem dos dados para o yahoo
bbse = data.DataReader('BBSE3.SA', 'yahoo')

Exibindo os tipos de dados retornados

In [ ]:
bbse.info()

In [ ]:
bbse.describe()

#Instalando a biblioteca para leitura das planilhas do google
Fonte de consulta: https://colab.research.google.com/notebooks/io.ipynb
e https://medium.com/@alisson.rlima/manipula%C3%A7%C3%A3o-de-planilhas-com-google-colab-google-sheets-e-pandas-6565a5a89826

In [6]:
!pip install gspread

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.0.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (3.0.4)

In [20]:
from google.colab import auth

auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Abrindo a planilha com os nomes das empresas

In [29]:
empresasb3 = gc.open('empresasb3')

pegando a aba com os dados

In [31]:
dados = empresasb3.sheet1

jogando para o dataframe os nomes das empresas, que foram lidas da planilha do google

In [33]:
df_dados = pd.DataFrame(dados.get_all_records())

In [34]:
df_dados.head()

   Papel Nome Comercial                        Razão Social
0  AALR3         ALLIAR  CENTRO DE IMAGEM DIAGNOSTICOS S.A.
1  ABCB3     ABC Brasil                BANCO ABC BRASIL S/A
2  ABCB4     ABC Brasil                BANCO ABC BRASIL S/A
3  ABEV3      AMBEV S/A                          AMBEV S.A.
4  ABRE3    SOMOS EDUCA                 SOMOS EDUCAÇÃO S.A.