<a href="https://colab.research.google.com/github/petersonrs/repo/blob/master/Ci%C3%AAncia_de_Dados_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dados = np.arange(8)

In [4]:
dados

array([0, 1, 2, 3, 4, 5, 6, 7])

In [5]:
dados.reshape((4,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [6]:
idx = ['linha 1','linha 2','linha 3','linha 4',
       'linha 5','linha 6','linha 7','linha 8']
serie = Series(dados, index = idx)

In [7]:
serie

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

In [8]:
serie['linha 2']

1

In [10]:
np.random.seed(25)
idx = ['lin 1','lin 2','lin 3','lin 4','lin 5','lin 6']
col = ['col 1','col 2','col 3','col 4','col 5','col 6']

df = DataFrame(np.random.rand(36).reshape((6,6)),
               index = idx,
               columns = col)
df

          col 1     col 2     col 3     col 4     col 5     col 6
lin 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
lin 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
lin 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
lin 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
lin 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
lin 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [11]:
#método loc, utilizado para selecionar partes do dataframe
df.loc[['lin 1', 'lin 5'], ['col 4', 'col 5']]

          col 4     col 5
lin 1  0.185911  0.411100
lin 5  0.719930  0.421004

In [13]:
#fatiando dados
df['lin 2': 'lin 4']

          col 1     col 2     col 3     col 4     col 5     col 6
lin 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
lin 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
lin 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541

In [ ]:
#Filtrando dados

In [14]:
#comparando os objetos de df com 0.2
df < 0.2

       col 1  col 2  col 3  col 4  col 5  col 6
lin 1  False  False  False   True  False   True
lin 2  False  False  False  False  False   True
lin 3  False  False   True  False  False  False
lin 4  False  False  False  False  False  False
lin 5  False  False   True  False  False  False
lin 6  False  False  False  False  False  False

In [17]:
# criando filtro
series_obj = Series(np.arange(6), index = idx)
filtro = series_obj > 3
series_obj[filtro]

lin 5    4
lin 6    5
dtype: int64

In [18]:
series_obj['lin 1', 'lin 3'] = 99
series_obj

lin 1    99
lin 2     1
lin 3    99
lin 4     3
lin 5     4
lin 6     5
dtype: int64